@font-face {
  font-family: 'Open Sans';
  src: url(../public/fonts/Outfit.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit' !important;
  src: url(../public/fonts/Outfit.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #34373a;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // background-color: $gray-900;
}

// Bot Controls
.bot-controls {
  svg {
    height: 2rem;
    // color: $primary;
    // filter: grayscale(100%) opacity(0.5);
    transition: 0.2s;

    // &.danger {
    // color: $danger;
    // }

    // &.success {
    // color: $success;
    // filter: grayscale(100%) opacity(0.2);
    // }
  }

  // svg:hover {
  // filter: grayscale(0) opacity(1);
  // }
}

.x-icon {
  // color: $secondary;
  visibility: hidden;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover .x-icon {
  // color: $secondary;
  visibility: visible;
}

.x-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.x-icon:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.form-label {
  font-family: 'Open Sans';
  font-size: 0.7rem !important;
  color: #464c55;
  letter-spacing: 0.5pt;
}
